body {
  background-color:black;
    width: 640px;
    margin: 0 auto;
}
div {
    border: 1px solid #c8ccd1;
    background:#f8f9fa;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}
.sidebar{
    float: left;width: 50%;
}
h2{
    color: blue;
}
h3{
    color: blue;
}
.p{
    color:red;
}